
    <div class="clearfix"></div>
    <div class="hom-slider">
        <div class="container">
            <div id="sequence">
                <ul class="sequence-canvas">
                    <li class="animate-in">
                        <div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">Iphone 7 RED</span>
                        </div>
                        <div class="flat-caption caption2 formLeft delay400 text-center">
                            <h1>Sang trọng và cá tính với sắc đỏ</h1>
                        </div>
                        <!--<div class="flat-caption caption3 formLeft delay500 text-center">-->
                        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>Lorem Ipsum is simply dummy text of the printing and typesetting</p>-->
                        <!--</div>-->
                        <!--<div class="flat-button caption4 formLeft delay600 text-center"><a class="more" href="">More Details</a></div>-->
                        <div class="flat-image formBottom delay200" data-duration="5" data-bottom="true"><img
                                src="img/phones/ip.png" alt=""></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container_fullwidth">
        <div class="container">
            <div class="hot-products">
                <h3 class="title"><strong>Hot</strong> Products</h3>
                <ul id="hot">
                    <li>
                        <div class="row">
                            <div ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:hot | limitTo:8"
                                 class="col-md-3 col-sm-6">
                                <div class="products">
                                    <div class="thumbnail"><a href="#/phones/{{phone.id}}" class="thumb"><img
                                            ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"/></a></div>
                                    <div class="productname"><a href="#/phones/{{phone.id}}">{{phone.name}}</a></div>
                                    <h4 class="price">${{phone.price|number}}</h4>
                                    <div class="button_group">
                                        <button class="button add-cart" type="button">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="featured-products">
                <h3 class="title"><strong>Featured </strong> Products</h3>
                <ul id="featured">
                    <li>
                        <div class="row">
                            <div ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:featured | limitTo:8"
                                 class="col-md-3 col-sm-6">
                                <div class="products">
                                    <div class="thumbnail"><a href="#/phones/{{phone.id}}" class="thumb"><img
                                            ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"/></a></div>
                                    <div class="productname"><a href="#/phones/{{phone.id}}">{{phone.name}}</a></div>
                                    <h4 class="price">${{phone.price|number}}</h4>
                                    <div class="button_group">
                                        <button class="button add-cart" type="button">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
