<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="products-details">
                    <div class="preview_image">
                        <div class="preview-small">
                            <img id="zoom_03" src="{{$ctrl.phone.images[0]}}"
                                 data-zoom-image="{{$ctrl.phone.images[0]}}" alt="">
                        </div>
                        <div class="thum-image">
                            <ul id="gallery_01" class="prev-thum">
                                <li ng-repeat="img in $ctrl.phone.images">
                                    <a href="#" data-image="{{img}}" data-zoom-image="{{img}}">
                                        <img src="{{img}}" alt="">
                                    </a>
                                </li>
                            </ul>
                            <a class="control-left" id="thum-prev" href="javascript:void(0);">
                                <i class="fa fa-chevron-left">
                                </i>
                            </a>
                            <a class="control-right" id="thum-next" href="javascript:void(0);">
                                <i class="fa fa-chevron-right">
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="products-description">
                        <h1 class="name">
                            {{$ctrl.phone.name}}
                        </h1>
                        <p>
                            <img alt="" src="images/star.png">
                            <a class="review_num" href="#">
                                02 Review(s)
                            </a>
                        </p>
                        <p>
                            Availability:
                            <span class=" light-red">
                      In Stock
                    </span>
                        </p>
                        <p>{{$ctrl.phone.description}}</p>
                        <hr class="border">
                        <div class="price">
                            Price :
                            <span class="new_price">
                      {{$ctrl.phone.price|number}}
                      <sup>
                        $
                      </sup>
                    </span>
                            </span>
                        </div>
                        <hr class="border">
                        <div class="wided">
                            <div class="qty">
                                Qty &nbsp;&nbsp;:
                                <select>
                                    <option ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
                                        {{i}}
                                    </option>
                                </select>
                            </div>
                            <div class="button_group">
                                <button class="button">
                                    Add To Cart
                                </button>
                                <button class="button compare">
                                    <i class="fa fa-exchange">
                                    </i>
                                </button>
                                <button class="button favorite">
                                    <i class="fa fa-heart-o">
                                    </i>
                                </button>
                                <button class="button favorite">
                                    <i class="fa fa-envelope-o">
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <hr class="border">
                        <img src="images/share.png" alt="" class="pull-right">
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="tab-box">
                    <div id="tabnav">
                        <ul>
                            <li>
                                <a href="#Descraption">
                                    DESCRIPTION
                                </a>
                            </li>
                            <li>
                                <a href="#Reviews">
                                    REVIEW
                                </a>
                            </li>
                            <li>
                                <a href="#tags">
                                    PRODUCT TAGS
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content-wrap">
                        <div class="tab-content" id="Descraption">
                            <table width="100%" class="table table-striped">
                                <thead>
                                <tr>
                                    <th colspan="2"><strong>Availability and Networks</strong></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Availability</td>
                                    <td><span ng-repeat="availability in $ctrl.phone.availability">{{availability}} </span></td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Battery</strong></th>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>{{$ctrl.phone.battery.type}}</td>
                                </tr>
                                <tr>
                                    <td>Talk Time</td>
                                    <td>{{$ctrl.phone.battery.talkTime}}</td>
                                </tr>
                                <tr>
                                    <td>Standby time (max)</td>
                                    <td>{{$ctrl.phone.battery.standbyTime}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Storage and Memory</strong></th>
                                </tr>
                                <tr>
                                    <td>RAM</td>
                                    <td>{{$ctrl.phone.storage.ram}}</td>
                                </tr>
                                <tr>
                                    <td>Internal Storage</td>
                                    <td>{{$ctrl.phone.storage.flash}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Connectivity</strong></th>
                                </tr>
                                <tr>
                                    <td>Network Support</td>
                                    <td>{{$ctrl.phone.connectivity.cell}}</td>
                                </tr>
                                <tr>
                                    <td>WiFi</td>
                                    <td>{{$ctrl.phone.connectivity.wifi}}</td>
                                </tr>
                                <tr>
                                    <td>Bluetooth</td>
                                    <td>{{$ctrl.phone.connectivity.bluetooth}}</td>
                                </tr>
                                <tr>
                                    <td>Infrared</td>
                                    <td>{{$ctrl.phone.connectivity.infrared | checkmark}}</td>
                                </tr>
                                <tr>
                                    <td>GPS</td>
                                    <td>{{$ctrl.phone.connectivity.gps | checkmark}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Android</strong></th>
                                </tr>
                                <tr>
                                    <td>OS Version</td>
                                    <td>{{$ctrl.phone.android.os}}</td>
                                </tr>
                                <tr>
                                    <td>UI</td>
                                    <td>{{$ctrl.phone.android.ui}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Size and Weight</strong></th>
                                </tr>
                                <tr>
                                    <td>Dimensions</td>
                                    <td><p ng-repeat="dim in $ctrl.phone.sizeAndWeight.dimensions">{{dim}}</p></td>
                                </tr>
                                <tr>
                                    <td>Weight</td>
                                    <td>{{$ctrl.phone.sizeAndWeight.weight}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Display</strong></th>
                                </tr>
                                <tr>
                                    <td>Screen size</td>
                                    <td>{{$ctrl.phone.display.screenSize}}</td>
                                </tr>
                                <tr>
                                    <td>Screen resolution</td>
                                    <td>{{$ctrl.phone.display.screenResolution}}</td>
                                </tr>
                                <tr>
                                    <td>Touch screen</td>
                                    <td>{{$ctrl.phone.display.touchScreen | checkmark}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Hardware</strong></th>
                                </tr>
                                <tr>
                                    <td>CPU</td>
                                    <td>{{$ctrl.phone.hardware.cpu}}</td>
                                </tr>
                                <tr>
                                    <td>USB</td>
                                    <td>{{$ctrl.phone.hardware.usb}}</td>
                                </tr>
                                <tr>
                                    <td>Audio / headphone jack</td>
                                    <td>{{$ctrl.phone.hardware.audioJack}}</td>
                                </tr>
                                <tr>
                                    <td>FM Radio</td>
                                    <td>{{$ctrl.phone.hardware.fmRadio | checkmark}}</td>
                                </tr>
                                <tr>
                                    <td>Accelerometer</td>
                                    <td>{{$ctrl.phone.hardware.accelerometer | checkmark}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Camera</strong></th>
                                </tr>
                                <tr>
                                    <td>Primary</td>
                                    <td>{{$ctrl.phone.camera.primary}}</td>
                                </tr>
                                <tr>
                                    <td>Features</td>
                                    <td>{{$ctrl.phone.camera.features.join(', ')}}</td>
                                </tr>
                                <tr>
                                    <th colspan="2"><strong>Atditional Features</strong></th>
                                </tr>
                                <tr>
                                    <td colspan="2">{{$ctrl.phone.additionalFeatures}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-content" id="Reviews">
                            <form>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>
                                            &nbsp;
                                        </th>
                                        <th>
                                            1 star
                                        </th>
                                        <th>
                                            2 stars
                                        </th>
                                        <th>
                                            3 stars
                                        </th>
                                        <th>
                                            4 stars
                                        </th>
                                        <th>
                                            5 stars
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            Quality
                                        </td>
                                        <td>
                                            <input type="radio" name="quality" value="Blue"/>
                                        </td>
                                        <td>
                                            <input type="radio" name="quality" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="quality" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="quality" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="quality" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Price
                                        </td>
                                        <td>
                                            <input type="radio" name="price" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="price" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="price" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="price" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="price" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Value
                                        </td>
                                        <td>
                                            <input type="radio" name="value" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="value" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="value" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="value" value="">
                                        </td>
                                        <td>
                                            <input type="radio" name="value" value="">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-row">
                                            <label class="lebel-abs">
                                                Your Name
                                                <strong class="red">
                                                    *
                                                </strong>
                                            </label>
                                            <input type="text" name="" class="input namefild">
                                        </div>
                                        <div class="form-row">
                                            <label class="lebel-abs">
                                                Your Email
                                                <strong class="red">
                                                    *
                                                </strong>
                                            </label>
                                            <input type="email" name="" class="input emailfild">
                                        </div>
                                        <div class="form-row">
                                            <label class="lebel-abs">
                                                Summary of You Review
                                                <strong class="red">
                                                    *
                                                </strong>
                                            </label>
                                            <input type="text" name="" class="input summeryfild">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-row">
                                            <label class="lebel-abs">
                                                Your Name
                                                <strong class="red">
                                                    *
                                                </strong>
                                            </label>
                                            <textarea class="input textareafild" name="" rows="7">
                            </textarea>
                                        </div>
                                        <div class="form-row">
                                            <input type="submit" value="Submit" class="button">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-content">
                            <div class="review">
                                <p class="rating">
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star-half-o gray">
                                    </i>
                                    <i class="fa fa-star-o gray">
                                    </i>
                                </p>
                                <h5 class="reviewer">
                                    Reviewer name
                                </h5>
                                <p class="review-date">
                                    Date: 01-01-2014
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a eros neque. In
                                    sapien est, malesuada non interdum id, cursus vel neque.
                                </p>
                            </div>
                            <div class="review">
                                <p class="rating">
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star light-red">
                                    </i>
                                    <i class="fa fa-star-half-o gray">
                                    </i>
                                    <i class="fa fa-star-o gray">
                                    </i>
                                </p>
                                <h5 class="reviewer">
                                    Reviewer name
                                </h5>
                                <p class="review-date">
                                    Date: 01-01-2014
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a eros neque. In
                                    sapien est, malesuada non interdum id, cursus vel neque.
                                </p>
                            </div>
                        </div>
                        <div class="tab-content" id="tags">
                            <div class="tag">
                                Add Tags :
                                <input type="text" name="">
                                <input type="submit" value="Tag">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
<hot-list></hot-list>
    </div>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="js/bootstrap.min.js">
    </script>
    <script defer src="js/jquery.flexslider.js">
    </script>
    <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js">
    </script>
    <script type="text/javascript" src='js/jquery.elevatezoom.js'>
    </script>
    <script type="text/javascript" src="js/script.min.js">
    </script>