.ng-invalid.ng-dirty {
  border-color: #FA787E;
}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}
#sequence {
  float: left;
  width: 100%;
  position: relative;
  color: #fff;
  height: 452px;
  width: 100%;
  overflow: hidden;
  min-height: 100px;
  margin: 15px 0 0 0;
}
.thumbnail{border: none}
.thumbnail {
  margin-bottom: 50px;
  margin-top: 10px;
}
.sorter {
  float: left;
  width: 100%;
}
.sort-by, .limiter{
  float: right;
}
.productname{height: 30px}
.search{float: left}
.sorter .search input {
  padding: 6px;
  border: 1px solid #e7e7e7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  color: #f7544a;
  min-width: 60px;
}
#Reviews .namefild, #Reviews .emailfild{padding-left: 10px}